@using projekt.Models
@model Firma

<h2>Edytuj dane firmy:</h2>
<form method="post">
    <table>
        <tr>
            <td>Nazwa:</td>
            <td>
                <input asp-for="Nazwa" />
                <span asp-validation-for="Nazwa" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>NIP:</td>
            <td>
                <input asp-for="NIP" />
                <span asp-validation-for="NIP" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Zapisz zmiany" />
            </td>
        </tr>
    </table>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }

